@using MusicPrj.Models;
@{ 
    CWebInitailize webInitial = ViewBag.InitialModel;
}
<!doctype html>
<html lang="en">
<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        * {
            margin: 0;
            padding: 0;
        }

         li {
            list-style-type: none;
            margin: 5px;
        }

        .header {
            position: fixed;
            width: 100%;
            height: 70px;
            background-color: #0b0b0b;
            z-index: 10;
        }

        .header-logo {
            position: absolute;
            top: 10px;
            left: 10px;
            height: 50px;
            width: 180px;
            padding-left: 40px;
            padding-top: 3px;
            font-size: 25px;
            background: #0b0b0b;
        }

        .header-logo-text {
            color: white;
        }

        .header-button {
            position: absolute;
            top: 15px;
            right: 16px;
        }

        #container {
            position: relative;
            top: 70px;
            left: 0; /*將子元素的定位到具體的參照對象*/
            width: 100%;
        }

        .sidebox {
            position: fixed;
            top: 70px;
            left: 0; /*使元素靠左*/
            margin-left: 70px;
            margin-top: 30px;
            background-color: #040404;
            color: white;
        }

        .side-li-home-img {
            /*list-style-image: url(image/1-mini.jpg);*/
        }

        .side-li-serach-img {
            /*list-style-image: url(image/2-mini.jpg);*/
        }

        .side-li-mymusiclibiary-img {
            /*list-style-image: url(image/3-mini.jpg);*/
        }

        .mainbox {
            width: 100%;
            height: calc(100%-70px);
            min-height: 1600px;
            border-left: 200px solid #040404; /*設置右邊框寬度為XXXpx像素，同等於sidebox的寬度*/
            background-color: #2b2828;
            margin-bottom: 110px;
        }

        #footer {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: #474747;
            color: white;
        }

        /*搜尋條.選單按鍵 開始*/
        .searchBar {
            position: relative;
            left: 250px;
            margin: 15px;
            width: 25%;
            min-width: 200px;
        }

        .advancedPanel {
            display: none;
            width: 600px;
            border-radius: 10px;
            padding: 5px 20px;
            background-color: #040404;
            background-image: linear-gradient(#474747,#040404);
            opacity: 0;
            transition: 0.1s;
            box-shadow: 1px 1px 2px #818181;
        }

        .advancedItem {
            display: inline-flex;
            flex-wrap: wrap;
            width: 140px;
            margin: 10px;
        }

        .advancedSelect {
            margin: 10px;
        }
        .selectedItem,
        .selectableItem,
        .itemAdd {
            display: inline-block;
            border-radius: 5px;
            border: 1px solid whitesmoke;
            padding: 5px;
            margin: 2px 1px;
        }
        .selectedItem{
            display:none;
        }

        .itemAdd {
            padding: 5px 10px;
        }

        .selectableItem,
        .selectedItem,
        .itemAdd {
            cursor: pointer;
        }

            .itemAdd:hover {
                background-color: rgba(6, 78, 137, 0.90)
            }

        .selectableItemPanel {
            display: none;
            position: absolute;
            width: 90%;
            min-width: 200px;
            border-radius: 5px;
            background-color: rgba(0, 0, 0, 0.8);
            transition: 0.1s;
            box-shadow: 1px 1px 2px #818181;
        }

        .adSwitch {
            opacity: 1;
            display: block;
        }
        /*搜尋條.選單按鍵 結束*/
        /*舊Player開始*/
        .originalPanel,
        .demoPanel {
            position: relative;
            width: 100%; /*此行修改過*/
            height: 50px;
            /*background: #5c616e;*/ /*此行拿掉過*/
            margin: 10px;
            padding: 10px;
        }

            .demoPanel:hover { /*此class新增*/
                background-color: darkgray;
            }

        /*.demoSlider,
        .originalSlider {
            -webkit-appearance: none;
            display: inline-block;
            border-radius: 50px;
            width: 70%;
            height: 5px;
            outline: none;
            margin: 10px;
        }

            .slider-range::-webkit-slider-thumb,
            .demoSlider::-webkit-slider-thumb,
            .originalSlider::-webkit-slider-thumb {
                -webkit-appearance: none;
                position: relative;
                width: 10px;
                height: 10px;
                background: rgb(201, 201, 201);
                border-radius: 50%;
                transition: 0.2s;
            }

                .demoSlider::-webkit-slider-thumb:hover,
                .originalSlider::-webkit-slider-thumb:hover {
                    cursor: pointer;
                    width: 14px;
                    height: 14px;
                }*/

        .demoSlider,
        .originalSlider,
        .vbtn {
            cursor: pointer;
        }

        .vbtn {
            display: inline;
        }

            .vbtn img {
                width: 20px;
                height: 15px;
                filter: invert();
            }

        span {
            color: white;
        }

        .btn {
            margin: 5px;
        }

        /*p {
            font-size: 12px;
            font-style: italic;
            color: gray;
            margin: 5px;
        }

        .slider {
            margin: 20px;
            width: 500px;
        }*/
        /*舊Player結束*/
        /*新Player開始*/
        #playerPanel {
            position: relative;
            width: 100%;
            min-width: 1200px;
            height: 110px;
            background: #3c3d41;
        }

        #titlePanel {
            position: absolute;
            left: 100px;
            width: 200px;
            height: 80px;
            margin: 10px;
            background: none;
        }

        img.title {
            width: 80px;
            height: 80px;
            margin: 2px 10px;
        }

        #playerfigure {
            position: absolute;
            width: 100px;
            margin: 2px;
            color: white;
        }

        #playerfigcaption {
            margin: 1px;
            text-align: center;
        }

        .description {
            font-size: 12px;
            overflow: hidden;
        }

        #singer {
            color: rgb(199, 194, 194);
            font-style: italic;
            font-size: 10px;
        }

        #btnPanel {
            position: relative;
            top: 3px;
            width: 400px;
            margin: auto;
            text-align: center;
            background: #3c3d41;
        }

        #progressPanel {
            position: relative;
            width: 55%;
            margin: 5px auto;
            text-align: center;
            background: #3c3d41;
        }

        #volumePanel {
            position: absolute;
            right: 0px;
            top: 40px;
            background: #3c3d41;
            width: 160px;
        }

        .sound {
            width: 30px;
            height: 22px;
            filter: invert();
        }

        #volumeBar {
            -webkit-appearance: none;
            border-radius: 50px;
            width: 100px;
            height: 5px;
            outline: none;
        }

            #volumeBar:hover,
            #progress:hover,
            .sound:hover {
                cursor: pointer;
            }

        #progress {
            -webkit-appearance: none;
            border-radius: 50px;
            top: 50px;
            width: 80%;
            height: 5px;
            /*下面這個不關掉的話選取進度條時會出現藍框*/
            outline: none;
            margin: auto;
            transition: 0.2s;
        }

        input::-webkit-slider-thumb {
            -webkit-appearance: none;
            position: relative;
            width: 11px;
            height: 11px;
            background: rgb(201, 201, 201);
            border-radius: 50%;
            transition: 0.2s;
        }

        input::-webkit-slider-runnable-track {
            transition: 0.5s;
        }

        input::-webkit-slider-thumb:hover {
            width: 15px;
            height: 15px;
        }

        .btn:hover {
            background: skyblue;
            cursor: pointer;
        }

        .btn:active {
            background: silver;
        }

        .btn img {
            width: 30px;
            height: 22.5px;
            margin: 10px;
            /*下面是色彩反轉的濾鏡效果(把黑圖片變白)*/
            filter: invert();
        }
        /*新Player結束*/
        /*商品box開始*/

        .albumname {
            width: 200px;
            height: 45px;
            overflow: hidden; /*超出範圍的部分隱藏*/
            text-overflow: ellipsis; /*出現省略號*/
            white-space: nowrap;
        }
        .productitem {
            float: left;
            color: white;
            margin-left: 10px;
            margin-bottom: 0.5%;
            font-family: 微軟正黑體;
        }

            .productitem:hover {
                background-color: darkgray;
                cursor: pointer;
                font-family: 微軟正黑體;
            }

        .productitemhy:link {
            color: white;
            text-decoration: none;
        }

        .productitemhy:visited {
            color: white;
        }

        .headtitle {
            color: white;
            margin-left: 20px;
            font-family: 微軟正黑體;
        }
        /*商品box結束*/
        /*albuminfo開始*/
        /*專輯圖/介紹開始*/
        .albumset {
            display: inline-block;
            margin-left: 5%;
            margin-top: 3%;
            width: 20%;
        }
        /*專輯圖/介紹*/
        /*單曲列表開始*/
        .albumtext {
            text-align: center;
            color: white;
            width: 97%;
            font-family: 微軟正黑體;
        }
        /*單曲列表結束*/
        /*albuminfo結束*/
        /*MyAlbumList開始*/
        /*摺疊樣式開始*/
        .fold-title {
            background-color: #f3f3f3;
            padding: 10px;
            cursor: pointer;
            color: #525252;
            margin-bottom: 0;
            width: 120vh
        }

        .fold {
            display: none;
            line-height: 17pt;
            width: 120vh
        }

        .fold-container {
            padding: 10px 10px 10px 30px;
            border: solid #f3f3f3 2px;
        }
        /*摺疊樣式結束*/
        /*MyAlbumList結束*/
    </style>
</head>
<body>
    <div class="header">
        <div class="header-logo">
            <a href="#"><img src="image/1-mini.jpg" alt=""></a>
            <button class="navbar-toggler header-logo-text" type="button">LOGO</button>
        </div>

        @* 搜尋條--套用bootstrap(input-group) *@
        <div class="searchBar">
            @* 基本搜尋條(結合進階搜尋鍵) *@
            <div class="input-group">
                <input class="searchtxt form-control" type="text" placeholder="搜尋歌曲..." name="basicSearch">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary advancedBtn">進階搜尋</button>
                    <button class="btn btn-outline-secondary searchBtn" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
            <div class="advancedPanel">
                @* 這邊放text搜尋欄位 *@
                <div class="advancedItemGroup">
                    <div class="advancedItem">
                        歌曲名稱
                        <input type="text" class="advancedtxt form-control" name="song" />
                    </div>
                    <div class="advancedItem">
                        歌手
                        <input type="text" class="advancedtxt form-control" name="singer" />
                    </div>
                    <div class="advancedItem">
                        團體名
                        <input type="text" class="advancedtxt form-control" name="group" />
                    </div>
                    <div class="advancedItem">
                        作曲者
                        <input type="text" class="advancedtxt form-control" name="arranger" />
                    </div>
                    <div class="advancedItem">
                        作詞者
                        <input type="text" class="advancedtxt form-control" name="lyricist" />
                    </div>
                    <div class="advancedItem">
                        發行類別
                        <select class="advancedtxt form-control" name="compose">
                            <option>不指定</option>
                            @*網頁初始化時會讀取資料庫的類別資料*@
                            @foreach (var item in webInitial.types)
                            {
                                <option>@item.fTypeName</option>
                            }
                        </select>
                    </div>
                </div>

                @* 這邊放自選類別 *@
                <div class="typeSelectGroup">
                    @* 選擇想要的類別 *@
                    <div class="typeSelect advancedSelect">
                        偏好的曲風
                        <div class="advancedBlock">
                            <div class="selected typeAdd" data-selector="like"><i class="fa fa-plus"></i></div>
                        </div>
                        @* 點選+號後會出現的type選擇表，位置應在+號正下方 *@
                    <div class="selectableItemPanel">
                        @foreach (var item in webInitial.kinds)
                        {
                            <div class="selectableItem">@item.KindName</div>
                        }
                    </div>
                    </div>
                    @* 剔除不想要的類別 *@
                    <div class="typeDislikeSelect advancedSelect">
                        想剔除的曲風
                        <div class="advancedBlock">
                            <div class="selected typeAdd" data-selector="dislike"><i class="fa fa-plus"></i></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="header-button">
            <button type="button">註冊</button>
            <button type="button">@Html.ActionLink("登入", "Login", "Common", null, new { @class = "side-li-home-img" })</button>
        </div>
    </div>
            <div id="container">

                <div class="sidebox">
                    @*@Session[CDictionary.SK_sideboxList1Name] = "";
                    @Session[CDictionary.SK_sideboxList1Method] = "";
                    @Session[CDictionary.SK_sideboxList1Id] = "";*@
                    <ul>
                        <li class="side-li-home-img">@Html.ActionLink("首頁", "Index", null, new { @class = "side-li-home-img" })</li>
                        <li class="side-li-serach-img">@Html.ActionLink("搜尋", "Search", null, new { @class = "side-li-home-img" })</li>
                        <li class="side-li-mymusiclibiary-img">@Html.ActionLink("你的音樂庫", "PlayLists", null, new { @class = "side-li-home-img" })</li>
                        <li class="side-li-mymusiclibiary-img">@Html.ActionLink(Session[CDictionary.SK_sideboxList1Name].ToString(), Session[CDictionary.SK_sideboxList1Method].ToString(), new { account = Session[CDictionary.SK_sideboxList1Id].ToString() }, new { @class = "side-li-mymusiclibiary-img" })</li>
                    </ul>
                </div>
                <div class="mainbox">
                    @RenderBody()
                </div>
            </div>
            <div id="footer">
                <div id="playerPanel">

                    <!-- 封面與歌名div -->
                    <figure id="playerfigure">
                        <img src="#" alt="" class="title">
                        <figcaption id="playerfigcaption" class="description title"></figcaption>
                    </figure>
                    <div id="titlePanel">
                        <span id="Descriptiontwo" class="description"></span><br>
                        <span id="singer"></span>
                    </div>


                    <!-- 基本按鍵div -->
                    <div id="btnPanel">
                        <div id="random" class="btn"><img src="~/Content/random.png"></div>
                        <div id="prev" class="btn"><img src="~/Content/prev.png"></div>
                        <div id="play" class="btn"><img src="~/Content/play.png"></div>
                        <div id="pause" class="btn"><img src="~/Content/pause.png"></div>
                        <div id="next" class="btn"><img src="~/Content/next.png"></div>
                        <div id="replay" class="btn"><img src="~/Content/replay.png"></div>
                    </div>

                    <!-- 進度條div -->
                    <div id="progressPanel">
                        <span id="nowTime">00:00</span>
                        <input id="progress" class="demoSlider" type="range" min="0" max="100" step="0.01" value="0">@*此處加class與試聽波放器連動*@
                        <span id="totalTime">00:00</span>
                    </div>

                    <!-- 音量條div -->
                    <div id="volumePanel">
                        <img src="~/Content/sound.png" data-sound="volumeImg" id="volumeImg" class="sound">
                        <img src="~/Content/mute.png" data-sound="muteImg" id="muteImg" class="sound">
                        <input id="volumeBar" type="range" min="0" max="1" step="0.01" value="0.5">
                    </div>

                    <!--播放器本體-->
                    @*<audio id="player" src="mp3/‪02 紅魔 「Un-demystified Fantasy」.mp3"></audio>*@
                    <audio class="originalAudio"></audio>
                    <audio id="player" class="demoAudio"></audio>
                </div>
            </div>
            <script src="@Url.Content("~/Scripts/flushpage.js")" type="text/javascript"></script>
            <script>
                //撥放器開始
                //這兩個是最終會存回資料庫的試聽開頭與結尾的秒數，浮點數類型
                var demoStart;
                var demoEnd;
                //新增
                var m_soid;
                var m_singer;
                var m_song;
                //****
                var oplaying = false;
                var dplaying = false;
                var fileName;

                $(".opause").css("display", "none");
                $(".dpause").css("display", "none");
                var music = $(".originalAudio")[0];
                music.volume = 0.6;
                var demoMusic = $(".demoAudio")[0];
                demoMusic.volume = 0.6;

                //讀取檔案，一次只能讀取一個
                //$("#upload").on("change", function () {
                //    let file = document.getElementById("upload").files[0];
                //    if (file.type != "audio/mp3") {
                //        file = null;
                //    }

                //    let reader = new FileReader();
                //    reader.readAsDataURL(file);
                //    reader.onload = function (e) {
                //        music.src = e.target.result;
                //        demoMusic.src = e.target.result;
                //    }
                //});

                //讀取音樂時會進行初始化
                $(".demoAudio").on("durationchange", function () { //originalAudio換成demoAudio
                    //   let totalTime = parseInt(music.duration);
                    let totalTime = demoEnd - demoStart; //為與新player變數一致將demoTotal換成totalTime
                    //$(".originalSlider").prop("max", totalTime);
                    //       $(".demoSlider").prop("max",totalTime);
                    $(".demoSlider").prop("max", totalTime);
                    //$(".totalTime").text(getTimeText(totalTime));
                    //         $(".totalDemo").text(getTimeText(totalTime));
                    // $(".totalDemo").text(getTimeText(totalTime));//網頁已預設載入,不再刷新

                    //*新撥放器加入
                    //$("#progress").prop("max", totalTime); //與function setEnd()作相同事情故移除
                    //let m1 = parseInt(totalTime / 600);
                    //let m2 = parseInt(totalTime / 60);
                    //let s1 = parseInt(totalTime % 60 / 10);
                    //let s2 = parseInt(totalTime % 60 % 10);
                    //$("#totalTime").text(`${m1}${m2}:${s1}${s2}`);

                    //同時初始化滑動條
                    $("#slider-range").slider({
                        range: true,
                        min: 0,
                        max: `${music.duration}`,
                        step: 0.01,
                        values: [0, music.duration],
                        slide: function () {
                            demoStart = $("#slider-range").slider("values", 0)
                            setStart();
                            demoEnd = $("#slider-range").slider("values", 1)
                            setEnd();
                        }
                    });
                    $(".start").val(demoStart);
                    $(".end").val(demoEnd);
                    setStart();
                    setEnd();
                });

                //播放器的timer
                $(".originalAudio").on("timeupdate", function () {
                    $(".originalSlider").prop("value", music.currentTime);
                    let now = parseInt(music.currentTime);
                    $(".nowTime").text(getTimeText(now));
                });
                $(".demoAudio").on("timeupdate", function () {

                    //新撥放器新增開始
                    //$("#progress").prop("value", demoAudio.currentTime);
                    let now = parseInt(demoMusic.currentTime);//player-->demoaudio修改
                    let m1 = parseInt(now / 600);
                    let m2 = parseInt(now / 60);
                    let s1 = parseInt(now % 60 / 10);
                    let s2 = parseInt(now % 60 % 10);
                    $("#nowTime").text(`${m1}${m2}:${s1}${s2}`);
                    //進度條的變化
                    let persent = now / totalTime * 100;
                    let p = parseInt($("#progress").css("width")) / 100;
                    let f = persent * p;
                    console.log(f);
                    $("#progress").css({ "background-image": `-webkit-linear-gradient(left , #5599FF ${f}px,#fff 0px)` });
                    //新撥放器新增結束

                    $(".demoSlider").prop("value", demoMusic.currentTime);
                    // let now = parseInt(demoMusic.currentTime);//變數名稱與上面新撥放器now相衝
                    //  $(".nowDemo").text(getTimeText(now));//現在播放時間移除
                    if (demoMusic.currentTime > $(".demoSlider").attr("max")) {
                        demoMusic.pause();
                        dplaying = false;
                        $(".dplay").css("display", "inline");
                        $(".dpause").css("display", "none")
                        demoMusic.currentTime = demoStart;
                    }
                    //試聽淡入效果(因為設定上淡入三秒淡出四秒，所以要是試聽時間在七秒內會出現音量bug)
                    if (demoMusic.currentTime < demoStart + 3) {
                        demoMusic.volume = (demoMusic.currentTime - demoStart) * 0.2;
                    }
                    //試聽淡出效果
                    else if (demoMusic.currentTime + 4 > demoEnd) {
                        demoMusic.volume = (demoEnd - demoMusic.currentTime) * 0.1;
                    }
                    else {
                        demoMusic.volume = 0.6;
                    }
                });

                //音樂播放暫停鍵
                $(".vbtn").on("click", function () {
                    console.log($(this).prop("class"));
                    //if ($(this).prop("className") == "vbtn oplay") {
                    //    music.play();
                    //    demoMusic.pause();
                    //    oplaying = true;
                    //    dplaying = false;
                    //    $(".oplay").css("display", "none");
                    //    $(".opause").css("display", "inline")
                    //    $(".dplay").css("display", "inline")
                    //    $(".dpause").css("display", "none")
                    //}
                    if ($(this).prop("class") == "vbtn dplay") {
                        //載入音樂參數
                        music.src = $(this).data('playurl');
                        demoMusic.src = $(this).data('playurl');
                        demoStart = $(this).data('start');
                        demoEnd = $(this).data('end');
                        m_soid = $(this).data('soid');
                        m_singer = $(this).data('singer');
                        m_song = $(this).data('songn');
                        $("#Descriptiontwo").text(m_song);
                        $("#singer").text(m_singer);
                        //載入音樂連結
                        demoMusic.play();
                        //    music.pause();

                        dplaying = true;
                        //oplaying = false;
                        $(".dplay").css("display", "inline");
                        $(".dpause").css("display", "none");
                        $(this).css("display", "none");
                        $(this).next(".dpause").css("display", "inline");
                        $("#play").css("display", "none");
                        $("#pause").css("display", "inline-block")
                    }
                    //else if ($(this).prop("class") == "vbtn opause") {
                    //    music.pause();
                    //    oplaying = false;
                    //    $(".oplay").css("display", "inline");
                    //    $(".opause").css("display", "none")
                    //}
                    else if ($(this).prop("class") == "vbtn dpause") {
                        demoMusic.pause();
                        dplaying = false;
                        $(".dplay").css("display", "inline");
                        $(".dpause").css("display", "none");
                        $(this).css("display", "none");
                        $(this).next(".dplay").css("display", "inline");
                        $("#play").css("display", "inline-block");
                        $("#pause").css("display", "none")
                    }
                })

                //選擇進度條後立刻發動值的change(否則會出現延遲，造成改值失敗)
                $(".originalSlider").on('input', function () {
                    music.pause();
                    $(this).trigger("change");
                })
                $(".demoSlider").on('input', function () {
                    demoMusic.pause();
                    $(this).trigger("change");
                })
                //音樂進度條改變
                $(".originalSlider").on("change", function () {
                    music.currentTime = this.value;
                });
                $(".demoSlider").on("change", function () {
                    demoMusic.currentTime = this.value;
                });
                //拖動進度條直到放開滑鼠才重新開始播放
                $(".originalSlider").on("mouseup", function () {
                    if (oplaying)
                        music.play();
                });
                $(".demoSlider").on("mouseup", function () {
                    if (dplaying)
                        demoMusic.play();
                });

                //製作試聽用
                //按鍵設置試聽開頭與結尾
                $(".setStart").on("click", function () {
                    demoStart = music.currentTime;
                    setStart();
                });
                $(".setEnd").on("click", function () {
                    demoEnd = music.currentTime;
                    setEnd();
                });

                //取得音樂時間文字的方法(第二個有給到小數後兩位)
                function getTimeText(num) {
                    let m1 = parseInt(num / 600);
                    let m2 = parseInt(num / 60 % 10);
                    let s1 = parseInt(num % 60 / 10);
                    let s2 = parseInt(num % 60 % 10);
                    return `${m1}${m2}:${s1}${s2}`;
                }
                function getTimeText2(num) {
                    let m1 = parseInt(num / 600);
                    let m2 = parseInt(num / 60 % 10);
                    let s1 = parseInt(num % 60 / 10);
                    let s2 = (num % 60 % 10).toFixed(2);
                    return `${m1}${m2}:${s1}${s2}`;
                }

                //設定範圍初始值與結尾值的方法
                function setStart() {
                    $(".start").val(demoStart);
                    if (demoStart > demoMusic.currentTime) {
                        demoMusic.currentTime = demoStart;
                        $(".demoSlider").attr("value", `${demoStart}`);
                        /*$("#progress").attr("value", `${demoStart}`);*/ //新加入新撥放器控制,已用.demoSlider去控制不重複加
                    }
                    $(".demoSlider").attr("min", `${demoStart}`);
                    /*  $("#progress").attr("min", `${demoStart}`);*/ //新加入新撥放器控制,已用.demoSlider去控制不重複加

                }
                function setEnd() {
                    $(".end").val(demoEnd);
                    /* $(".totalDemo").text(getTimeText(demoEnd));*///網頁已預設載入,不再刷新
                    $("#totalTime").text(getTimeText(demoEnd));
                    if (demoEnd < demoMusic.currentTime) {
                        demoMusic.currentTime = demoEnd;
                        $(".demoSlider").attr("value", `${demoEnd}`);
                        /*  $("#progress").attr("value", `${demoEnd}`);*///新加入新撥放器控制,已用.demoSlider去控制不重複加
                    }
                    $(".demoSlider").attr("max", `${demoEnd}`);
                    /*   $("#progress").attr("max", `${demoEnd}`);*///新加入新撥放器控制,已用.demoSlider去控制不重複加
                }
                //撥放器結束

                //新撥放器開始
                var playing = false;
                var nowVolume = demoMusic.volume; //player-->demoaudio修改
                $("#pause").css("display", "none");
                $("#muteImg").css("display", "none");
                $("#volumeBar").css({ "background-image": "-webkit-linear-gradient(left , #5599FF 0%,#fff 0px)" });
                $("#play").click(function () {
                    demoMusic.play();//player-->demoaudio修改
                    playing = true;
                    $("#play").css("display", "none");
                    $("#pause").css("display", "inline-block")
                })
                //音樂暫停鍵
                $("#pause").click(function () {
                    demoMusic.pause();//player-->demoaudio修改
                    playing = false;
                    $("#play").css("display", "inline-block");
                    $("#pause").css("display", "none")
                })

                //調整音量時能立即更動而不用放開滑鼠
                $("#volumeBar").on('input', function () {
                    $(this).trigger("change");
                })
                //音量調節鍵
                $("#volumeBar").change(function () {
                    demoMusic.volume = this.value;
                    let v = this.value * 100;
                    $("#volumeBar").css({ "background-image": `-webkit-linear-gradient(left , #5599FF ${v}%,#fff 0px)` });
                    if (demoMusic.volume == 0) {
                        $("#volumeImg").css("display", "none");
                        $("#muteImg").css("display", "inline-block");
                    }
                    else {
                        $("#volumeImg").css("display", "inline-block");
                        $("#muteImg").css("display", "none");
                    }
                });

                //靜音鍵
                $(".sound").click(function () {
                    let data = $(this).data("sound");
                    switch (data) {
                        case "volumeImg":
                            nowVolume = demoMusic.volume;
                            demoMusic.volume = 0;
                            $("#volumeBar").prop("value", 0);
                            $("#volumeBar").css({ "background-image": `-webkit-linear-gradient(left , #5599FF ${0}%,#fff 0px)` });
                            $("#volumeImg").css("display", "none");
                            $("#muteImg").css("display", "inline-block");
                            break;

                        case "muteImg":
                            demoMusic.volume = nowVolume;
                            $("#volumeBar").prop("value", nowVolume);
                            $("#volumeBar").css({ "background-image": `-webkit-linear-gradient(left , #5599FF ${nowVolume * 100}%,#fff 0px)` });
                            $("#volumeImg").css("display", "inline-block");
                            $("#muteImg").css("display", "none");
                            break;
                    }
                });

                //選擇進度條後立刻發動值的change(否則會出現延遲，造成改值失敗)
                $("#progress").on('input', function () {
                    demoMusic.pause();//player-->demoaudio修改
                    $(this).trigger("change");
                })
                //音樂進度條改變
                $("#progress").change(function () {
                    demoMusic.currentTime = this.value;//player-->demoaudio修改
                });
                //拖動進度條直到放開滑鼠才重新開始播放
                $("#progress").mouseup(function () {
                    if (playing)
                        demoMusic.play();//player-->demoaudio修改
                });

                //搜尋條棒相關
                $(".advancedBtn").click(function () {
                    $(".advancedPanel").toggleClass("adSwitch");
                })

                $(".searchBtn").click(function () {
                    console.log("搜尋!");
                })

                $(".typeAdd").click(function () {
                    $(this).parents("advancedBlock").add($(".selectableItemPanel")[0]);
                    $(".selectableItemPanel").toggleClass("adSwitch");

                })
            </script>
            <!-- Optional JavaScript -->
</body>
</html>